# Python cache / bytecode
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg-info/

# Environments
.env
.venv
venv/
env/
*.conda
*.yaml

# IDEA and Editor files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Logs
*.log

# System files
.DS_Store
Thumbs.db

# Data files
*.csv
*.xlsx
*.tmp

# Simulation outputs (keep empty folders)
data/results/*
!data/results/.gitkeep

examples/results/*
!examples/results/.gitkeep
